.projects__wrapper {
  margin-top: 150px;
  margin-bottom: 150px;
}

.projects__title {
  margin-bottom: 40px;
}

.projects__item {
  position: relative;
}

.project__image {
  border-radius: 33px;
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.project__label__wrapper {
  position: absolute;
  top: 50px;
  left: 50px;
}

.project__label {
  padding: 0 20px 0 20px;
  color: #000000;
  background-color: #1bff07;
  font-size: 25px;
  line-height: 47px;
  text-align: center;
  border-radius: 100px;
}

@media (max-width: 1199px) {
  .projects__title {
    margin-bottom: 53px;
  }

  .project__image {
    height: 445px;
  }

  .project__label {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .projects__wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .projects__title {
    margin-bottom: 34px;
  }

  .project__image {
    height: 446px;
    object-position: 15%;
  }

  .project__label {
    font-size: 13px;
    line-height: 18px;
  }
}
